<main class=" flex flex-col gap-10 p-5 font-poppins">
    <div class="relative w-full h-96 overflow-hidden">
        <!-- Vidéo en arrière-plan -->
        <video
          class="absolute top-0 left-0 w-full h-full object-cover"
          autoplay
          loop
          muted
          playsinline
        >
          <source src="images/video1.mp4" type="video/mp4" />
          <!-- Fallback message si la vidéo n'est pas supportée -->
          Votre navigateur ne prend pas en charge les vidéos HTML5.
        </video>
      
        <!-- Contenu en overlay -->
        <div
          class="absolute z-0 flex items-center justify-center w-full h-full bg-black bg-opacity-50 text-white"
        >
          <h1 class="text-4xl font-bold">Nos Projets</h1>
        </div>
      </div>
      <div class=" flex flex-col items-center gap-20">
        <div class=" flex lg:flex-row flex-col-reverse gap-10 items-center">
            <div><img class="h-96 w-[30rem] rounded-lg" src="images/chicken.jpg" alt=""></div>
            <div>
                <h2 class="text-2xl font-bold p-5">Elevage des poules</h2>
                <p class="lg:w-[40rem] w-[24rem] text-[#3339]">
                    Le projet d’élevage de poules est une initiative visant à exploiter de manière rentable et durable l’élevage avicole. L'objectif est de produire des œufs, de la viande, et potentiellement d'autres produits dérivés, en fonction des besoins du marché local et des capacités de production. Ce type de projet peut répondre à des enjeux économiques, en créant des emplois et en générant des revenus, mais aussi sociaux, en offrant des sources d’alimentation saine et accessible pour les communautés environnantes.

                    L'élevage de poules présente plusieurs avantages. Il est adaptable aux grandes et petites surfaces, relativement facile à gérer, et nécessite un investissement initial modéré par rapport à d'autres types d'élevage. Ce projet inclut des étapes essentielles telles que la conception de l'infrastructure, le choix des races de poules, l’alimentation, la gestion sanitaire, et le plan de commercialisation. Chacune de ces étapes sera abordée de manière approfondie pour garantir le bien-être des animaux, l’efficacité de la production, et le respect des normes de sécurité alimentaire.

                    Grâce à une gestion rigoureuse et une optimisation des ressources, ce projet peut s'avérer être une activité économiquement viable tout en contribuant au développement durable et en répondant à une demande croissante de produits de qualité dans le secteur avicole.
                </p>
                <button></button>
            </div>
        </div>
        <div #animatedBox class="flex lg:flex-row flex-col-reverse gap-10 items-center">
            <div><img class="h-96 w-[30rem] rounded-lg" src="images/tomate.jpg" alt=""></div>
            <div>
                <h2 class="text-2xl font-bold p-5">Culture de tomates</h2>
                <p class="lg:w-[40rem] w-[24rem] text-[#3339]">
                    Le projet de culture de tomates vise à développer une production de tomates rentable et durable, répondant aux besoins des marchés locaux ou régionaux. Ce projet peut contribuer à la sécurité alimentaire, à la création d’emplois, et au développement économique, en particulier dans les régions aux conditions climatiques favorables à cette culture. La tomate, étant un légume très prisé et consommé quotidiennement, représente un marché porteur offrant des opportunités pour les producteurs de toutes tailles.

                    Le projet comprend plusieurs étapes essentielles, comme la préparation du sol, le choix des variétés de tomates adaptées aux conditions locales et aux préférences du marché, la planification de la saison de plantation, la gestion des besoins en eau et en fertilisants, ainsi que le contrôle des ravageurs et maladies. La mise en place de bonnes pratiques agricoles et de techniques de culture efficaces, telles que l'irrigation goutte-à-goutte et le paillage, est primordiale pour optimiser les rendements et réduire l'impact environnemental.

                    En intégrant un système de gestion moderne, ce projet a le potentiel de produire des tomates de haute qualité, de manière écoresponsable. La vente de tomates fraîches ou transformées peut ainsi devenir une source de revenus stable pour les producteurs, tout en répondant à la demande croissante de produits agricoles frais et locaux.
                </p>
            </div>
        </div>
        <div #animatedBox class=" flex lg:flex-row flex-col-reverse gap-10 items-center">
            <div><img class="h-96 w-[30rem] rounded-lg" src="images/savon.jpg" alt=""></div>
            <div>
                <h2 class="text-2xl font-bold p-5">Fabrication de savaon</h2>
                <p class="lg:w-[40rem] w-[24rem] text-[#3339]">
                    Le projet de fabrication de savon vise à établir une production artisanale ou industrielle de savons naturels et de haute qualité, répondant aux besoins croissants en produits d’hygiène et de soins de la peau. La fabrication de savon est une activité accessible, pouvant être adaptée à différents niveaux de production et de budget, tout en offrant des possibilités de personnalisation pour cibler divers segments de marché. Ce projet permet également de contribuer au développement local en créant des emplois et en utilisant, si possible, des ingrédients locaux comme l’huile d’olive, l’huile de coco, ou des plantes aromatiques.

                    Le projet comporte plusieurs étapes clés, allant de la formulation des recettes de savon aux processus de production, de séchage, de découpe et d’emballage. En fonction des besoins du marché cible, des variantes peuvent être créées, comme les savons naturels sans colorant ni parfum, les savons aromatisés aux huiles essentielles, ou les savons thérapeutiques aux extraits de plantes. La gestion des ressources et le contrôle de la qualité sont également cruciaux pour assurer un produit final sûr et efficace.

                    La fabrication de savon peut devenir une activité économiquement viable et écologiquement responsable en intégrant des pratiques durables, comme l’utilisation d’ingrédients biologiques ou recyclés et la réduction des emballages plastiques. Ce projet de fabrication de savon peut ainsi contribuer non seulement à la satisfaction des consommateurs, mais aussi à la promotion d’un mode de consommation plus naturel et respectueux de l’environnement.
                </p>
            </div>
        </div>
        <div>
            <div><img src="" alt=""></div>
            <div>
                <h2></h2>
                <p></p>
            </div>
        </div>
      </div>
      <app-footer/>
</main>
  
