<div class= "bg-black">
    <div class="fixed inset-0  flex  justify-start h-full w-60 bg-slate-50" [ngClass]="{'hidden': !isVisible}">
        <span (click)="closeModal()" class=" p-4 text-xl text-black">&times;</span>
        <ul class="text-black p-10 flex flex-col gap-5 mt-20">
            <li appNavigateTo="" (click)="closeModal()">Accueil</li>
            <li appNavigateTo="/pageAbout" (click)="closeModal()">A propos</li>
            <li appNavigateTo="/pageEvent" (click)="closeModal()">Evénement</li>
            <li appNavigateTo="">Don</li>
        </ul>
    </div>
</div>
