<header class="">
<div class=" hidden md:block">
    <div [ngClass]="isScrolled? 'flex bg-slate-200 font-poppins shadow-2xl px-5  top-0 transition duration-300 flex-row justify-between w-full gap-5 fixed inset-0 mx-auto font-bold h-[6rem]  items-center z-20 ' : 'flex top-5  flex-row w-[60rem] gap-5 font-poppins fixed inset-0 mx-auto font-bold h-[6rem]  items-center  bg-white z-20 ' ">
        <div class="">
            <img class="h-14 w-14 rounded-full " src="images/logo.jpg" alt="logo">
        </div>
        <div class=" flex flex-col">
            <div class=" bg-slate-200">
                <div class="flex flex-row gap-5 justify-end w-[55rem] items-center text-[#3336]  font-bold">
                    <div class=" flex flex-row items-center gap-1"><div><img class="h-4 w-4" src="/images/Letter.png" alt=""></div><a class="text-xs" href="mailto:apehasbl@gmail.com">apehasbl&#64;gmail.com</a></div>
                    <div  class=" flex flex-row items-center gap-1"><div><img class="h-4 w-4" src="/images/Ringer.png" alt=""></div><p class="text-xs">+243974986427</p></div>
                    <button class="bg-orange-500 shadow-2xl p-1 text-white hover:bg-sky-500 transition duration-300">Faire un Don</button>
                </div>
            </div>
            <div class="bg-white flex flex-row">
                <nav [ngClass]="isScrolled? 'flex flex-row bg-slate-100 w-full justify-between':'flex flex-row bg-slate-100 w-[55rem] justify-between'">
                    <ul class=" flex flex-row gap-3 text-[#4a494977]">
                        <li routerLink ="" routerLinkActive="font-bold bg-white border-t-4 border-t-red-500" [routerLinkActiveOptions]="{ exact: true }" class="hover:bg-white hover:font-bold transition duration-300 w-32 p-5 text-center text-xs cursor-pointer ">Accueil</li>
                        <li routerLink="about" routerLinkActive="font-bold bg-white border-t-4 border-t-red-500" class="hover:bg-white hover:font-bold transition duration-300 w-32 p-5 text-center text-xs cursor-pointer">A propos</li>
                        <li routerLink="actuality" routerLinkActive="font-bold bg-white border-t-4 border-t-red-500" class="hover:bg-white hover:font-bold transition duration-300 w-32 p-5 text-center text-xs cursor-pointer">Actualité</li>
                        <li routerLink="cause" routerLinkActive="font-bold bg-white border-t-4 border-t-red-500" class="hover:bg-white hover:font-bold transition duration-300 w-32 p-5 text-center text-xs cursor-pointer">Project</li>
                    </ul>
                    <div class=" flex flex-row items-center gap-5 mr-4">
                        <div><img class=" h-4 w-4" src="images/TwitterX.png" alt=""></div>
                        <div><img class=" h-4 w-4" src="images/YouTube.png" alt=""></div>
                        <div><img class=" h-4 w-4" src="images/LinkedIn.png" alt=""></div>
                        <div><img class=" h-4 w-4" src="images/Facebook.png" alt=""></div>
                    </div>
                </nav>
            </div>
        </div>
    
    </div>
    
</div>


 <div [ngClass]="isScrolled ? 'fixed block md:hidden w-full shadow-2xl bg-slate-900 transition duration-300 z-10': 'fixed block bg-opacity-20 md:hidden w-full bg-white z-10' ">
    <div class=" flex flex-row justify-between items-center p-4">
        <div><img appNavigationMenu="" class=" h-10  w-10 rounded-full" src="images/logo.jpg" alt="logo"></div>
        <div><img (click)="modal.showModal()" class=" h-10 w-10" src="images/Menu.png" alt=""></div>
    </div>
    <app-menu-modal #modal/>
 </div>

</header>
