<header class="flex lg:flex-row justify-between bg-opacity-10 items-center bg-cyan-900 text-white lg:px-10 px-5 fixed lg:w-screen w-full z-50 font-medium shadow">
    <div class="flex flex-row items-center">
        <img class=" h-14 w-14 p-1 rounded-full" src="assets/images/logo.jpg" alt="">
        <h1 class="text-white">APEH</h1>
    </div>
    <nav>
        <ul class="hidden md:flex flex-row gap-10">
            <li routerLink="" routerLinkActive="font-bold underline" [routerLinkActiveOptions]="{ exact: true }" class="hover:bg-white hover:text-black p-2 rounded-lg cursor-pointer">Accueil</li>
            <li routerLink="pageAbout" routerLinkActive="font-bold underline" class="hover:bg-white hover:text-black p-2 rounded-lg cursor-pointer">APropos</li>
            <li routerLink="pageEvent" routerLinkActive="font-bold underline" class="hover:bg-white hover:text-black p-2 rounded-lg cursor-pointer">Evénement</li>
            <a class="hover:bg-red-700 hover:text-white p-2 w-20 h-10 rounded-lg bg-white border border-white text-blue-500 text-center cursor-pointer" href="#">Don</a>
        </ul>
        <div><img (click)="modal.showModal()" class=' block md:hidden h-6 w-6' src="assets/images/Menu.png" alt="menu" /></div>
        <app-modal-menu #modal/>
    </nav>
    

</header>
