<footer class="bg-stone-100 w-full">
    <div class="flex lg:flex-row flex-col gap-4">
        <div class="bg-slate-900 lg:w-[40rem] flex flex-col lg:items-end items-start gap-8 lg:p-10 px-5 py-10">
            <h2 class="text-2xl text-white font-bold">Contact</h2>
            <div class="flex flex-col gap-3 text-white">
                <div class="flex flex-row items-center gap-2"><div class="p-3 bg-orange-900"><img class="h-4 w-4" src="images/PhoneOne.png" alt=""></div><p>+243970607351</p></div>
                <div class="flex flex-row items-center gap-2"><div class="p-3 bg-green-900"><img class="h-4 w-4" src="images/EmailOne.png" alt=""></div><p>michelkajibwamigmail</div>
                <div class="flex flex-row items-center gap-2"><div class="p-3 bg-blue-900"><img class="h-4 w-4" src="images/LocationOne.png" alt=""></div><p>République Démocatique du Congo/Bukavu</p></div>
            </div>
            <div class="flex flex-row gap-3"><div class="bg-white p-2 hover:bg-cyan-500 transition duration-300"><img class="h-4 w-4" src="images/TwitterX.png" alt=""></div><div class="bg-white p-2 hover:bg-cyan-500 transition duration-300"><img class="h-4 w-4" src="images/LinkedIn.png" alt=""></div><div class="bg-white p-2 hover:bg-cyan-500 transition duration-300"><img class="h-4 w-4" src="images/Facebook.png" alt=""></div></div>
        </div>
        <div class="flex flex-row gap-2 lg:p-9 py-9 px-5">
            <div>
                <h2 class="font-bold text-2xl">Lien rapide</h2>
                <div class="flex flex-row gap-10 mt-4">
                    <ul class="flex flex-col font-bold text-[#3336] gap-2">
                        <li appNavigationMenu="/">Accueil</li>
                        <li appNavigationMenu="/about">Apropos</li>
                        <li appNavigationMenu="actuality">Actualité</li>
                        <li>Contact</li>
                        <li>L'équipe</li>
                    </ul>
                    <ul class="flex flex-col font-bold text-[#3336] gap-2">
                        <li>Condition</li>
                        <li>Faire un don</li>
                        <li>Politique</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-3 lg:p-10 py-10 px-5">
            <h2 class="font-bold text-2xl">Rester informer</h2>
            <div class="flex flex-row justify-between items-center h-10 border-4 border-black  rounded-full"><div><input class="h-8 bg-transparent border-none focus:outline-none  p-2" type="text"></div><button class="bg-slate-950 shadow-xl text-white p-2 rounded-full"><img class="h-6 w-6" src="images/Envelope.png" alt=""></button></div>
        </div>
    </div>
    
</footer>
