<main class="flex lg:bg-white bg-black p-5 flex-row lg:overflow-visible overflow-auto gap-5 w-full lg:justify-center">
    <div class=" lg:mt-[-10rem] ">
        <div><img class="h-60 w-80 rounded-t-lg" src="/images/banner.jpeg" alt="logo"></div>
        <div class="flex flex-col justify-center items-center text-white rounded-b-lg bg-sky-500 w-80 h-60 "><p [routerLink]="['/']" fragment="volontaire" class="text-xl font-bold rounded-lg  border border-white p-2 hover:bg-white hover:text-black hover:shadow-orange-950 transition duration-300">Nous accompagner</p></div>
    </div>
    <div class="bg-red-500 h-[30rem] w-80 lg:mt-[-10rem] text-white flex flex-col items-center rounded-lg p-10 gap-9">
        <div><img class="h-32 w-32 rounded-full" src="images/back.jpg" alt=""></div>
        <h2 class="text-xs">Nous supporter</h2>
        <h3 class="text-xl font-bold">Explorer Nos Projets</h3>
        <button appNavigationMenu="cause" fragment="cause" class="bg-slate-950 shadow-lg text-white p-2 w-40 rounded-lg hover:text-black hover:bg-white hover:font-bold transition duration-300">Savoir Plus</button>
    </div>
    <form  (ngSubmit)="submitEmail()" class="bg-orange-400 rounded-lg h-[30rem] w-80 lg:mt-[-10rem] text-white flex flex-col items-center p-10 gap-9">
        <div><img class="h-32 w-32 rounded-full" src="images/mail.png" alt=""></div>
        <h2 class="text-xs">News Letter</h2>
        <h3 class="text-xl font-bold">Rester Informer</h3>
        <div class="flex flex-row items-center h-10 border border-white rounded-full"><div><input class="h-8 bg-transparent border-none focus:outline-none  p-2" type="email" id="email" [(ngModel)]="mail" name="email" required></div><button type="submit" class="bg-slate-950 shadow-xl h-10 w-10 text-white p-2 rounded-full hover:bg-blue-600 transition duration-300"><img class="h-6 w-6" src="images/Envelope.png" alt=""></button></div>
        <p [ngClass]="{
            'text-green-600 bg-green-100 p-2 mt-4 rounded': messageType === 'succès',
            'text-red-600 bg-red-100 p-2 mt-4 rounded': messageType === 'error'
          }">{{ message }}</p>
    </form>
</main>
