<div 
  *ngIf="isVisible" 
  class="fixed w-full inset-0 flex justify-center items-center bg-gray-800/80 backdrop-blur-md z-50 overflow-hidden">
  
  <div #modal class="relative bg-white w-full h-full md:h-auto max-w-5xl rounded-lg shadow-xl p-8 overflow-auto z-50 ">
    <!-- Bouton de fermeture -->
    <button
      type="button"
      class="absolute top-4 right-4 text-gray-500 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 rounded-full"
      (click)="closeModal()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <!-- Titre -->
    <h3 class="text-2xl font-bold text-indigo-600 text-center uppercase mb-6">
      {{ Actuality?.title }}
    </h3>

    <!-- Contenu -->
    <div class="flex flex-col md:flex-row gap-8">
      <!-- Image -->
      <div class="w-full md:w-1/2 flex justify-center">
        <img [src]="Actuality.image" alt="{{ Actuality?.title }}" class="rounded-lg shadow-lg w-full h-96 object-cover">
      </div>

      <!-- Texte -->
      <div class="flex flex-col gap-6 w-full md:w-1/2">
        <!-- Date -->
        <div class="flex items-center gap-2 bg-slate-900 text-white p-3 rounded-lg">
          <img class="h-6 w-6" src="/images/calender.png" alt="Calendar">
          <span>{{ Actuality?.date | date: 'longDate' }}</span>
        </div>

        <!-- Description -->
        <p class="text-gray-700 leading-relaxed text-lg">
          {{ Actuality?.content }}
        </p>

        <!-- Appel à l'action -->
        <div class="text-center">
          <p class="text-gray-500 italic mb-4">
            Faites un geste aujourd'hui pour soutenir notre mission.
          </p>
          <div class="flex justify-center gap-4">
            <button class="bg-orange-500 hover:bg-orange-600 text-white px-2 py-2 rounded-lg shadow-lg text-lg transition duration-300 disabled:bg-gray-400 disabled:cursor-not-allowed"
            [disabled]="isDonationDisabled()">
              Faire un don
            </button>
            <button class="bg-blue-500 hover:bg-blue-600 text-white px-2 py-2 rounded-lg shadow-lg text-lg transition duration-300">
              Nous contacter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
