<main>
    <div class="h-auto lg:w-full w-full bg-[url('/assets/images/apropos.jpg')] bg-cover bg-center bg-no-repeat text-white lg:px-10 px-5 flex flex-col gap-10 pb-10 pt-10">
        <div class="bg-white h-1 w-48"></div>
        <div class="flex lg:flex-row flex-col justify-between gap-10">
            <div class="flex flex-col gap-5">
                <h2 class="font-bold text-xl">A PROPOS DE APEH</h2>
                <p class="font-bold lg:w-96 text-sm italic">Donner du pouvoir aux acteurs du changement : Là où la compassion rencontre l'innovation.</p>
                <p class="lg:w-[50rem]">L'Association pour la promotion de l'entrepreneuriat et de l'aide humanitaire APEH/Asbl en single est issue l'œuvre des quelques jeunes visionnaire et dynamique emboîtant l'idée de l'initiateur principal qui est seule d'entrepreneuriat ainsi de l'amour du prochain .
                <br/>En effet , La compréhension des réalités du milieu aux quelles sont confronter une plus grande partie de la population ; Chômage , injustice social , la famine , la discrimination sociale, ... Cela a inspiré et motivé ses jeunes de mettre en place une organisation pouvant lutter contre toutes ces réalités en promouvant la culture entrepreneuriale ainsi que seule d'aide humanitaire aux vulnérables de tout genre. 
                    </p>
               <div class=" flex flex-col gap-3 hover:bg-slate-50 hover:text-violet-600  bg-violet-600 px-2 font-medium pt-3 rounded-full w-40 text-center" ><button appNavigateTo="/pageAbout" >Savoir plus</button><div class=" bg-white h-[2px] w-full"></div></div>
            </div>
            <div class="h-full w-full">
                <h2 class="font-bold text-right">EN MISSION DEPUIS JANVIER 2024</h2>
                <p>Sourions ensemble</p>
                <div><img class="w-[25rem] h-[20rem] rounded-lg shadow-lg" src="assets/images/background.jpeg" alt=""></div>
            </div>
        </div>
    </div>
</main>
