<footer class="flex lg:flex-row flex-col justify-between bg-[url('/assets/images/footer.jpg')] h-auto lg:w-full w-full bg-cover bg-center text-black font-medium lg:p-8 p-5">
    <div class="flex lg:flex-row flex-col lg:items-center gap-4">
        <div><img class="h-32 w-32 rounded-full" src="assets/images/logo.jpg" alt=""></div>
        <div>
            <p class="lg:w-96">L'Association pour la promotion de l'entrepreneuriat et de l'aide humanitaire APEH/Asbl en single est issue l'œuvre des quelques jeunes visionnaire et dynamique emboîtant l'idée de l'initiateur principal qui est seule d'entrepreneuriat ainsi de l'amour du prochain .</p>
        </div>
    </div>
    <div class="flex flex-col gap-3">
        <div class="flex flex-col">
            <h2 class="text-violet-600">Lien Rapite</h2>
            <div class="h-1 bg-red-600 w-20"></div>
        </div>
        <ul>
            <li class="hover:text-blue-700">Accueil</li>
            <li class="hover:text-blue-700">APropos</li>
            <li class="hover:text-blue-700">Evénement</li>
            <li class="hover:text-blue-700">Don</li>
        </ul>
    </div>
    <div class="flex flex-col gap-3">
        <div class="flex flex-col">
            <h2 class="text-violet-600">Contact Info</h2>
            <div class="h-1 bg-red-600 w-24"></div>
        </div>
        <div>
            <div class="flex flex-row items-center gap-3">
                <div><img class="h-5 w-5" src="assets/images/position.png" alt=""></div>
                <b>Ville de  Bukavu , commune de kadutu , Q kasali. </b>
            </div>
            <div class="flex flex-row items-center gap-3">
                <div><img class="h-5 w-5" src="assets/images/Envelope.png" alt=""></div>
                <b>michelkajibwami&#64;gmail.com</b>
            </div>
            <div class="flex flex-row items-center gap-3">
                <div><img class="h-5 w-5" src="assets/images/WhatsApp.png" alt=""></div>
                <b>+243970607351</b>
            </div>
            
        </div>

    </div>
</footer>
