<main id="cause" class="flex flex-col w-full bg-stone-100 items-center z-0 lg:p-10 p-10 gap-10">
    <div>
        <div class="flex flex-row items-center"><div><img class="h-4 w-4" src="images/cause.png" alt=""></div><h2 class=" font-bold text-[#3336]">Notres causes</h2></div>
        <h2 class="font-bold text-2xl">Pourquoi?</h2>
    </div>
    <div class="relative z-0 flex lg:flex-row flex-col gap-5">
        <div #animatedBox>
            <div class="overflow-hidden">
                <img 
                  class="h-46 w-80 transition-transform duration-500 ease-in-out transform hover:scale-110" 
                  src="images/causeOne.jpg" 
                  alt="Cause">
              </div>
            <div class="bg-white h-80 flex flex-col gap-2 justify-between">
                <p class="p-3 font-bold bg-cyan-600 text-white w-20">Objectif</p>
                <p class="w-80 p-3 text-[#3336]">
                   Développer chez les personnes un esprit créatif
                   Initier les personnes à l'entrepreneuriat
                   Initier les personnes au sentiment altruiste ( amour du prochain )
                   Accompagner et redonner sourire aux personnes en situations difficiles
                </p>
                <div class="flex flex-row justify-between">
                    <div class="flex flex-row items-center p-3">
                        <p class="font-bold text-xs">15%</p><div class="border border-black h-1 w-40"><div class="h-1 w-10 bg-orange-300"></div></div>
                    </div>
                    <div class="flex flex-row gap-1 items-center p-2"><div><img class="h-6 w-6" src="images/Goal.png" alt=""></div><p class="text-[#3336] text-xs">10.000$</p></div>
                </div>
            </div>
        </div>
        <div #animatedBox>
            <div class="overflow-hidden">
                <img 
                  class="h-46 w-80 transition-transform duration-500 ease-in-out transform hover:scale-110" 
                  src="images/causeTow.jpg" 
                  alt="Cause">
              </div>
            <div class="bg-white h-80 flex flex-col gap-2 justify-between">
                <p class="p-3 font-bold bg-red-600 text-white w-20">Vision</p>
                <p class="w-80 p-3 text-[#3336]">
                    Instaure un monde nouveau où les personnes, et en particulier les jeunes, s'autonomisent et se soucient de l'amour pour leur prochain, en particulier ceux qui sont en souffrance ou en situation de vulnérabilité.
                </p>
                <div class="flex flex-row justify-between">
                    <div class="flex flex-row items-center p-3">
                        <p class="font-bold text-xs">15%</p><div class="border border-black h-1 w-40"><div class="h-1 w-10 bg-orange-300"></div></div>
                    </div>
                    <div class="flex flex-row gap-1 items-center p-2"><div><img class="h-6 w-6" src="images/Eye.png" alt=""></div><p class="text-[#3336] text-xs">10.000$</p></div>
                </div>
            </div>
        </div>
        <div #animatedBox>
            <div class="overflow-hidden">
                <img 
                  class="h-46 w-80 transition-transform duration-500 ease-in-out transform hover:scale-110" 
                  src="images/causeFree.jpg" 
                  alt="Cause">
              </div>
            <div class="bg-white h-80 flex flex-col gap-2 justify-between">
                <p class="p-3 font-bold bg-green-600 text-white w-20">Mission</p>
                <p class="w-80 p-3 text-[#3336]">
                    Encourager chacun à devenir autonome en prenant sa vie en main. Redonner le sourire à ceux qui traversent des périodes de désespoir. Promouvoir les entrepreneurs et leurs initiatives. Créer un espace de rencontre et de dialogue pour les jeunes, afin de favoriser le partage d’expériences.
                </p>
                <div class="flex flex-row justify-between">
                    <div class="flex flex-row items-center p-3">
                        <p class="font-bold text-xs">15%</p><div class="border border-black h-1 w-40"><div class="h-1 w-10 bg-orange-300"></div></div>
                    </div>
                    <div class="flex flex-row gap-1 items-center p-2"><div><img class="h-6 w-6" src="images/Rocket.png" alt=""></div><p class="text-[#3336] text-xs">10.000$</p></div>
                </div>
            </div>
        </div>
    </div>
</main>
