<main>
    <div class="lg:px-64 flex flex-col justify-end  bg-[url('/images/aboutpage.jpg')] w-full lg:h-[35rem] h-96 bg-cover bg-no-repeat">
        <div class="flex flex-row">
            <div class=" bg-slate-700 p-5 bg-opacity-35">
                <p class="lg:w-96 text-2xl text-white font-bold">ASSOCIATION POUR LA PROMOTION ENTREPRENEURIAT ET L'AIDE HUMANITAIRE.</p>
            </div>
        </div>
        
    </div>
    <div class="flex flex-col lg:px-64 my-10">
        <div class="flex flex-row items-center justify-center pb-3">
            <div><img class="h-6 w-6" src="images/Love.png" alt=""></div>
            <p class=" text-[#dc444499] font-bold">Qui sommes Nous?</p>
        </div>
        <div class=" flex flex-col gap-4 bg-pink-600 bg-opacity-5 rounded-lg font-light p-5">
            <h2 class="font-bold italic">APEH/asbl</h2>
            <p class="">L'Association pour la promotion de l'entrepreneuriat et de l'aide humanitaire APEH/Asbl en single est issue l'œuvre des quelques jeunes visionnaire et dynamique emboîtant l'idée de l'initiateur principal qui est seule d'entrepreneuriat ainsi de l'amour du prochain .</p>
            <p class="">En effet , La compréhension des réalités du milieu aux quelles sont confronter une plus grande partie de la population ; Chômage , injustice social , la famine , la discrimination sociale, ... Cela a inspiré et motivé ses jeunes de mettre en place une organisation pouvant lutter contre toutes ces réalités en promouvant la culture entrepreneuriale ainsi que seule d'aide humanitaire aux vulnérables de tout genre. </p>
            <p class="">L'APEH a son siège central dans Ville de  Bukavu , commune de kadutu , Q kasali . Elle intervient dans deux domaines principaux dont : </p>
            <strong><b>1. </b>Le Domaine entrepreneurial</strong>
            <strong><b>2. </b>Le Domaine humanitaire </strong>
            <p class="">Pour cequi est du domaine entrepreurial , l'APEH invitent spécifique dans : Le savonnerie , Pâtisserie , Agriculture , Élevage , peinture</p>
            <p class="">Deuxièmement dans le domaine humanitaire , l'APEH intervienne spécifiquement dans : L'assistance de personnes âgées en vivre, non vivre et Soutien pychologique , Assistance des enfants dans la rue , Enfants orphilins , Assistance aux personnes victimes des catastrophes naturelles et les personnes  vulnérables en générale.</p>
            <div class="bg-white rounded-lg">
                <div class="flex flex-row items-center justify-center p-5">
                    <div><img class="h-6 w-6" src="images/cause.png" alt=""></div>
                    <h2 class=" font-bold text-[#3339]">Notre Equipe</h2>
                </div>
                <div class=" flex lg:flex-row flex-col justify-center items-center gap-5 p-5">
                    <div>
                        <div class=" shadow-2xl"><img class="h-60 w-60 rounded-lg object-cover object-center" src="images/idee.jpg" alt=""></div>
                        <h3 class="font-bold">Coordonnateur</h3>
                        <h4>Idee Musanganya</h4>
                    </div>
                    <div>
                        <div class=" shadow-2xl"><img class="h-60 w-60 rounded-lg object-cover object-center" src="images/jennifer.jpg" alt=""></div>
                        <h3 class="font-bold">Coordinatrice</h3>
                        <h4>Jennifer Mulagizi</h4>
                    </div>
                    <div>
                        <div class=" shadow-2xl"><img class="h-60 w-60 rounded-lg object-cover object-center" src="images/etienne.jpg" alt=""></div>
                        <h3 class="font-bold">Secrétaire</h3>
                        <h4>Etienne Ilunga</h4>
                    </div>
                    <div>
                        <div class=" shadow-2xl"><img class="h-60 w-60 rounded-lg object-cover object-center" src="images/t.jpg" alt=""></div>
                        <h3 class="font-bold">Tresorière</h3>
                        <h4>Angelique Binja</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer/>
</main>
