<main class="flex flex-col justify-center items-center gap-5 bg-[url('/images/bg.jpg')] h-screen w-full bg-cover bg-center text-white font-medium lg:p-8 p-5">
    <h2 class="text-5xl mx-56 text-start w-[60rem]">Agissez <br/> maintenant <br/> pour changer des vies</h2>
    <div class="flex flex-row gap-5 justify-start w-[60rem]"><button class="p-2 w-60 hover:bg-sky-500 transition duration-300 rounded-xl bg-orange-400 text-white">Nos Causes</button><button class="p-2 hover:bg-sky-500 transition duration-300 rounded-2xl w-60 border border-white">Faire un Don</button></div>

</main>

