<div>
   <main class="h-auto w-full lg:p-10 p-5 bg-[url('/assets/images/heading-bg.jpg')] text-white">
      <div class="flex lg:flex-row flex-col items-center gap-10 pt-16">
         <div>
            <h2 class="text-2xl font-bold py-4">EVENEMENT</h2>
            
            <div><img class="w-[40rem] h-96"  src="assets/images/background.jpeg" alt=""><caption class="w-60 text-center italic">lancement officiel des activités de l'APEH /Asbl</caption></div>
         </div>
         <div class="flex flex-col gap-3">
            <h3 class="font-bold text-lg">Les détails sur l'activité du lancement officiel des activités de l'APEH /Asbl </h3>
            <p class="lg:w-[40rem]">Dans la poursuite des ses objectifs , l'APEH en date du 14 avril à effectuer une descente sur terrain dans le centre d'hébergement des orphilins et quelque enfant vivant dans la rue abandonner par leurs famille . </p>
            <p class="lg:w-[40rem]">Cette activité dénommé , ASSISTANCE HUMANITAIRE aux enfants en situation difficile était constitué des  vivre , non vivres ainsi qu'un soutien psychologique . Parlant des vivres,  nous avons pu apporté le riz , la farine , le haricot . Les non vivres nous avons collectionné ; Le savons , Vêtement , Souliers . Et fin le soutien  psychologique ( Cousling , les jeux , la dance , les théâtres ) . Cette activité avait comment objectif de soulager ces enfants marginalisé et aussi de leurs offrir l'espace pour faire une décharge émotionnelle dans la finalité de se sentir aimer aussi comme tant d'autres enfants . </p>
            
            <div class="flex lg:flex-row overflow-scroll lg:overflow-hidden lg:gap-3 gap-2 lg:p-10 p-5 rounded shadow-md"><img class="h-40 w-44 rounded-md shadow-md" src="assets/images/idee.jpeg" alt=""> <img class="h-40 w-44 rounded-md shadow-md" src="assets/images/ideePartage.jpeg" alt=""><img class="h-40 w-44 rounded-md shadow-md" src="assets/images/children.jpeg" alt=""></div>
         </div>
       </div>
    </main>
    <app-footer/>

</div>

