<div class=" bg-[url('/assets/images/main-bg.jpg')] w-full h-auto ">
    <div class="">
        <div class=" text-white lg:p-20 p-5 flex flex-col gap-10">

            <div class="flex flex-col gap-14">
                <div class="bg-white h-[2px] w-20"></div>
                <div class="flex lg:flex-row flex-col gap-3 lg:justify-between">
                    <h2 class=" font-bold text-2xl">AMOUR , TRAVAIL ET SERVICE .</h2>
                    <div
                        class=" flex flex-col gap-3 hover:bg-slate-50 hover:text-violet-600  bg-violet-600 px-4 font-medium pt-3 rounded-full">

                        <button (click)="modale.showForm()" class="text-center">Devenir Volontaire</button>
                        <div class=" bg-white h-[2px] w-full"></div>
                    </div>
                </div>
                <app-form-volunter #modale/>
                <div class="flex lg:flex-row flex-col gap-10 justify-center">

                    <div class="flex flex-row gap-3">
                        <div class="flex flex-col gap-4">
                            <div class="bg-white p-3 rounded-full h-16 w-16 flex flex-row justify-center-center">
                                <img src="assets\images\Goal.png" alt="">
                            </div>
                            <h4 class=" font-bold text-lg">Objectifs des l'APEH </h4>
                            <p>- Développer chez les personnes un esprit créatif<br/> 
                                - Initier les personnes à l'entrepreneuriat<br/> 
                                - Initier les personnes au sentiment altruiste ( amour du prochain )<br/> 
                                - Accompagner et redonner sourire aux personnes en situations difficiles 
                             </p>
                        </div>
                        <div class="flex flex-col items-center">
                            <h6>1</h6>
                            <div class="h-60 w-[1px] bg-cyan-100"></div>
                        </div>
                    </div>
                    <div class="flex flex-row gap-3">
                        <div class="flex flex-col gap-4">

                            <div class="bg-white p-3 rounded-full h-16 w-16 flex flex-row items-center">
                                <img src="assets\images\Eye.png" alt="">
                            </div>
                            <h4 class=" font-bold text-lg">Vision de l'APEH </h4>
                            <p class="w-96">Instaure un monde nouveau dans lequel personnes et surtout les jeunes d'autonomise et soucieuses de l'amour du prochain qui est en souffrance , en situation de vulnérabilité </p>
                        </div>
                        <div class="flex flex-col items-center">
                            <h6>2</h6>
                            <div class="h-60 w-[1px] bg-cyan-100"></div>
                        </div>
                    </div>
                    <div>
                        <div class="flex flex-col gap-4">
                            <div class="bg-white p-3 rounded-full h-16 w-16 flex flex-row items-center">
                                <img src="assets\images\Rocket.png" alt="">
                            </div>
                            <h4 class=" font-bold text-lg">Mission de l'APEH</h4>
                            <p class="w-96">Amener les personnes à se prendre en charge donc devenir autonome<br/> 
                                - Redonner sourire aux personnes en despoir de vie<br/> 
                                - Promouvoir les entrepreneures et produits  entrepreneurials<br/>  
                                - Établir un lieu d'attente et des dialogues entre  jeunes pour le partage d'expériences. 
                                 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
