<main class="flex flex-col gap-5 h-auto w-full bg-[url('/assets/images/dark-bg.jpg')] lg:p-10 p-5 text-white">
    <div>
        <h2 class="font-bold">A PROPOS DE NOUS</h2>
    <div class="h-1 w-40 bg-white"></div>
    </div>
    <div class="flex lg:flex-row flex-col-reverse justify-center lg:gap-10 gap-5 ">
        
        <div>
            <img class="lg:h-60 lg:w-60 rounded-full" src="assets/images/back.jpg" alt="">
        </div>
        <div class=" flex flex-col gap-4">
            <h2 class="font-bold">APEH/asbl</h2>
            <p class="lg:w-[40rem]">L'Association pour la promotion de l'entrepreneuriat et de l'aide humanitaire APEH/Asbl en single est issue l'œuvre des quelques jeunes visionnaire et dynamique emboîtant l'idée de l'initiateur principal qui est seule d'entrepreneuriat ainsi de l'amour du prochain .</p>
            <p class="lg:w-[40rem]">En effet , La compréhension des réalités du milieu aux quelles sont confronter une plus grande partie de la population ; Chômage , injustice social , la famine , la discrimination sociale, ... Cela a inspiré et motivé ses jeunes de mettre en place une organisation pouvant lutter contre toutes ces réalités en promouvant la culture entrepreneuriale ainsi que seule d'aide humanitaire aux vulnérables de tout genre. </p>
            <p class="lg:w-[40rem]">L'APEH a son siège central dans Ville de  Bukavu , commune de kadutu , Q kasali . Elle intervient dans deux domaines principaux dont : </p>
            <span><b>1. </b>Le Domaine entrepreneurial</span>
            <span><b>2. </b>Le Domaine humanitaire </span>
            <p class="lg:w-[40rem]">Pour cequi est du domaine entrepreurial , l'APEH invitent spécifique dans : Le savonnerie , Pâtisserie , Agriculture , Élevage , peinture</p>
            <p class="lg:w-[40rem]">Deuxièmement dans le domaine humanitaire , l'APEH intervienne spécifiquement dans : L'assistance de personnes âgées en vivre, non vivre et Soutien pychologique , Assistance des enfants dans la rue , Enfants orphilins , Assistance aux personnes victimes des catastrophes naturelles et les personnes  vulnérables en générale.</p>
            <p class="lg:w-[40rem]">Ainsi , réunit dans une assemblé générale , les membres animés par les soucis et une conscience d'apporter une solution durable a ce problème qui guette la société , ont décidé ce qui suit : </p>
        </div>

    </div>
</main>